<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org" >
<head th:include="fragments/header :: common-header" />
<body>
    <!-- googleAnalytics -->
    <script src="../static/js/googleAnalytics.js" th:src="@{/js/googleAnalytics.js}"></script>

    <!-- navigation -->
    <nav th:include="publicnavigation :: public-navigation" />

    <!-- page-wrapper -->
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"> Asset Classes </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-heading">
                            <strong>Asset Classes</strong>
                        </div>
                    </div>
                    <div class="panel-body">
                        Strategic Asset Allocation: <br />
                        How is one's wealth distributed among asset classes (Fixed Income, Equity, Real Estate, Commodity), and sub-classes is the key factor. In the investment industry, this distribution is widely known as "Asset Allocation". (e.g. 40% in Real Estate, 30% in Diversified Equity, 5% in individual Mid-cap stocks, 20% in fixed income, 3% in commodity, 2% in Cash). This asset allocation helps us to understand risk-returns characteristics and to predict the probable outcome of the investment. Is that high risk suitable for the investor? Is portfolio's risk considerably higher than the investor can afford to take? Or is investor too conservative? Does one have enough liquidity when a large amount of money is required within a short period? Answers to these questions can be easily answered by just looking at asset allocation.
                        <br /> <br />
                        Strategic asset allocation involves meeting the investor’s long-term and short-term financial goals. Strategic asset allocation decision is the most important decision relative to any other investment decision (whether the investor should buy or sell a particular financial product or a security). This asset allocation decision involves budgeting resources effectively for meeting the investor's financial goals.
                        <br /> <br />
                        This strategic asset allocation changes with 1) Regular net income (i.e. income after expenses) 2) Performance or appreciation of invested assets. Strategic asset allocation decision requires considering stages in the lifecycle, any unanticipated event. Also valuation of asset classes, the economic outcome changes with time. These all require strategic asset allocation to be monitored periodically and rebalance your portfolio or wealth distribution periodically.
                        <br /> <br />
                        We, for simplicity, consider here 6 basic asset classes. Each asset class has different characteristics. Bank FDs and Debt Mutual Funds are having more or less same characteristics at a broader level. They are usually used to protect capital and their returns are less volatile. Equity Mutual Funds, investment in individual stocks, on the other hand, are riskier than Bank FDs and Debt Mutual Funds.
                        <br /> <br />
                        <div class="table-responsive">
                            <table class="table" data-expand-first="true">
                                <thead>
                                    <tr>
                                        <th>Asset Class</th>
                                        <th>Description</th>
                                        <th>Liquidity</th>
                                        <th>Risk Factors</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Cash</td>
                                        <td>
                                            Most of the time no return or lower interest income in case of saving bank account <p />
                                        </td>
                                        <td>Very High</td>
                                        <td>Inflation Risk</td>
                                    </tr>
                                    <tr>
                                        <td>Fixed Income</td>
                                        <td>
                                            Returns are usually in the form of promised interest income on underlying instrument <p />
                                        </td>
                                        <td>High in most of the cases</td>
                                        <td>Interest Rate Risk (Change in interest rates), Credit Risk (Default on payment of interest or capital)</td>
                                    </tr>
                                    <tr>
                                        <td>Equity</td>
                                        <td>
                                            In case of diversified equity (i.e. Mutual Funds, ETFs) returns are usually correlated with respective benchmark Index returns (e.g. SENSEX or NIFTY for large cap Mutual Fund). <p />
                                            In case of individual equity (individual stock) returns depend a lot on future financial performance of the company. <p />
                                        </td>
                                        <td>High in most of the cases</td>
                                        <td>Market Risk i.e. performance of overall economy, Sector Risk, Individual Company Specific Risk, Geo-Political Risk</td>
                                    </tr>
                                    <tr>
                                        <td>Commodity</td>
                                        <td>
                                            Diversified commodity may be used for hedging inflation <p />
                                            Returns of individual commodity are usually correlated with demand and supply of that commodity <p />
                                        </td>
                                        <td>High liquidity in most of the cases </td>
                                        <td>Exchange Rate Risk, Risk related to demand and supply of the commodity, Govt Policies e.g. change of duty on Gold</td>
                                    </tr>
                                    <tr>
                                        <td>Real Estate</td>
                                        <td>
                                            The best instrument to hedge Inflation Risk. <p />
                                            Returns of individual property depend on many factors <p />
                                            Need to Consider Lease Income, Expenses, Taxes and Capital Appreciation while computing returns <p />
                                        </td>
                                        <td>Very low i.e. may not be converted quickly into cash <p /></td>
                                        <td>Liquidity Risk, Need considerably more capital (than Equity or Fixed Income) to invest</td>
                                    </tr>
                                    <tr>
                                        <td>Alternative Investment</td>
                                        <td>
                                            There are many flavors. From PMS, Trading Portfolio to Private Equity to Coins and Artifacts <p />
                                            Suitable only for qualified investors<p />
                                        </td>
                                        <td>Low in most of the cases </td>
                                        <td>Volatile returns, </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>
</html>