<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: common-header" />
<body ng-app="twealthbookModule">
    <!-- googleAnalytics -->
    <script src="../static/js/googleAnalytics.js" th:src="@{/js/googleAnalytics.js}"></script>
    <!-- googleAnalytics -->
    <!--Angular JS-->
    <script src="../static/vendor/angular/angular.min.js" th:src="@{/vendor/angular/angular.min.js}"></script>
    <script src="../static/js/module.js" th:src="@{/js/module.js}"></script>
    <!--Angular JS-->
    <!-- wrapper -->
    <div id="wrapper" ng-controler="">
        <!-- navigation -->
        <nav th:include="fragments/navigation :: common-navigation" />
        <!-- navigation -->
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Dashboard</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-rupee fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">156 L</div>
                                    <div>Family Wealth <p userId="yesterday1"></p></div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-rupee fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">3.40 L</div>
                                    <div>Outstanding Loans <p userId="yesterday2"></p></div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-rupee fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">19.30 L</div>
                                    <div>FY2017 Income <p userId="yesterday3"></p></div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-rupee fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">7.59 L</div>
                                    <div>FY2017 Adj Expenses <p userId="yesterday4"></p></div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-area-chart fa-fw"></i> Timeline of Wealth
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li>
                                            <a href="#">See Details</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="wealthtimeline-morris-line-chart"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-pie-chart fa-fw"></i> Family Wealth Distribution
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li>
                                            <a href="familywealth.html">See Details</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="wealthdistribution-morris-donut-chart"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-pie-chart fa-fw"></i> Family Wealth by Members
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li>
                                            <a href="familywealth.html">See Details</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="wealthbymembers-morris-donut-chart"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
                <!-- /.col-lg-3 -->
                <div class="col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-pie-chart fa-fw"></i> Family Loans
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li>
                                            <a href="#">See Details</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="loan-morris-donut-chart"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
                <!-- /.col-lg-3 -->
                <div class="col-lg-3">
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Family Income
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li>
                                            <a href="#">See Details</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="income-morris-bar-chart"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Family Savings/Investments
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li>
                                            <a href="#">See Details</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="savings-morris-bar-chart"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
                <!-- /.col-lg-3 -->
                <div class="col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Family Adjusted Expenses
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li>
                                            <a href="#">See Details</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="expenses-morris-bar-chart"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
                <!-- /.col-lg-3 -->
                <!-- /.row -->
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>Portfolio 1: Portfolio for Retirement Fund</strong>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table userId="Portfolio-1" class="table" data-expand-first="true">
                                    <thead>
                                        <tr>
                                            <th>Asset Class</th>
                                            <th>Sector</th>
                                            <th data-visible="false" data-breakpoints="xs">Security Code</th>
                                            <th data-breakpoints="xs sm">Security Name</th>
                                            <th style="text-align:right" data-breakpoints="xs sm" data-title="Market Value">Market Value</th>
                                            <th data-breakpoints="all" data-title="Quantity">Quantity</th>
                                            <th data-breakpoints="all" data-title="Buy Date">Buy Date</th>
                                            <th data-breakpoints="all" data-title="Buy Value">Buy Value</th>
                                            <th data-breakpoints="all" data-title="P &amp; L">Profit/Loss</th>
                                            <th data-breakpoints="all" data-title="% P &amp; L">%Profit/Loss</th>
                                            <th data-breakpoints="all" data-title="Annualized Returns">Annualized Returns</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Diversified Large Cap Equity</td>
                                            <td>Diversified</td>
                                            <td>AMFI Code1</td>
                                            <td>ABC Bank Blue Chip MF</td>
                                            <td style="text-align:right">1,70,000</td>
                                            <td>6212.25</td>
                                            <td>1-Apr-2014</td>
                                            <td>1,00,000</td>
                                            <td>70,000</td>
                                            <td>70.0%</td>
                                            <td>18.8%</td>
                                        </tr>
                                        <tr>
                                            <td>Diversified Large Cap Equity</td>
                                            <td>Diversified</td>
                                            <td>AMFI Code1</td>
                                            <td>ABC Bank Blue Chip MF</td>
                                            <td style="text-align:right">1,30,000</td>
                                            <td>4750.54</td>
                                            <td>1-Apr-2016</td>
                                            <td>1,20,000</td>
                                            <td>10,000</td>
                                            <td>8.3%</td>
                                            <td>7.7%</td>
                                        </tr>
                                        <tr>
                                            <td>Diversified Large Cap Equity</td>
                                            <td>Diversified</td>
                                            <td>AMFI Code2</td>
                                            <td>MNO Fund Large Cap MF</td>
                                            <td style="text-align:right">2,20,000</td>
                                            <td>7723.55</td>
                                            <td>1-Apr-2015</td>
                                            <td>2,00,000</td>
                                            <td>20,000</td>
                                            <td>10.0%</td>
                                            <td>4.7%</td>
                                        </tr>
                                        <tr>
                                            <td>Individual Small Cap Stocks</td>
                                            <td>Finance</td>
                                            <td>NSE:FIN</td>
                                            <td>Finance Ltd</td>
                                            <td style="text-align:right">1,10,000</td>
                                            <td>1100</td>
                                            <td>1-Apr-2014</td>
                                            <td>50,000</td>
                                            <td>60,000</td>
                                            <td>120.0%</td>
                                            <td>29.1%</td>
                                        </tr>
                                        <tr>
                                            <td>Individual Small Cap Stocks</td>
                                            <td>Pharma</td>
                                            <td>NSE:PHAR</td>
                                            <td>Pharma Ltd.</td>
                                            <td style="text-align:right">1,08,000</td>
                                            <td>510</td>
                                            <td>1-Apr-2015</td>
                                            <td>1,00,000</td>
                                            <td>8,000</td>
                                            <td>8.0%</td>
                                            <td>3.8%</td>
                                        </tr>
                                        <tr>
                                            <td>Individual Small Cap Stocks</td>
                                            <td>Pharma</td>
                                            <td>NSE:PHAR</td>
                                            <td>Pharma Ltd.</td>
                                            <td style="text-align:right">95,000</td>
                                            <td>449</td>
                                            <td>1-Apr-2016</td>
                                            <td>70,000</td>
                                            <td>25,000</td>
                                            <td>35.7%</td>
                                            <td>32.6%</td>
                                        </tr>
                                        <tr>
                                            <td>Individual Small Cap Stocks</td>
                                            <td>Technology</td>
                                            <td>NSE:TECH</td>
                                            <td>IT Tech Ltd.</td>
                                            <td style="text-align:right">87,000</td>
                                            <td>500</td>
                                            <td>1-Apr-2016</td>
                                            <td>1,00,000</td>
                                            <td>-13,000</td>
                                            <td>-13.0%</td>
                                            <td>-12.1%</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Total </strong></td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td style="text-align:right"><strong>9,20,000</strong></td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td><strong>7,40,000</strong></td>
                                            <td><strong>1,80,000</strong></td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!--/.table-responsive-->
                        </div>
                        <!--/.panel-body-->
                    </div>
                    <!--/.panel-->
                </div>
                <!--/.col-lg-12-->
            </div>
            <!--/.row-->
        </div>
        <!--page-wrapper-->
    </div>
    <!--wrapper-->

    <!-- jQuery -->
    <script src="../static/vendor/jquery/jquery.min.js" th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="../static/vendor/bootstrap/js/bootstrap.min.js" th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
    <!-- Custom Theme JavaScript -->
    <script src="../static/vendor/sb-admin-2/js/sb-admin-2.min.js" th:src="@{/vendor/sb-admin-2/js/sb-admin-2.min.js}"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="../static/vendor/metisMenu/metisMenu.min.js" th:src="@{/vendor/metisMenu/metisMenu.min.js}"></script>
    <!-- Morris Charts JavaScript -->
    <script src="../static/vendor/raphael/raphael.min.js" th:src="@{/vendor/raphael/raphael.min.js}"></script>
    <script src="../static/vendor/morrisjs/morris.min.js" th:src="@{/vendor/morrisjs/morris.min.js}"></script>
    <!-- Add in any FooTable dependencies we may need -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
    <!-- Footable JavaScript -->
    <script src="../static/vendor/footable/js/footable.core.min.js" th:src="@{/vendor/footable/js/footable.core.min.js}" type="text/javascript"></script>

    <script>
        jQuery(function ($) {
            $('#Portfolio-1').footable();
        });
    </script>

    <script type="text/javascript">
        Morris.Donut({
            element: 'wealthdistribution-morris-donut-chart',
            data: [{
                label: "Cash",
                value: 230000,
                formatted: '2,30,000/- 1%'
            }, {
                label: "Fixed Income(FDs/RDs)",
                value: 830500,
                formatted: '8,30,500/- 5%'
            }, {
                label: "Diversified Largecap Equity",
                value: 1210000,
                formatted: '12,10,000/- 8%'
            }, {
                label: "Diversified Smallcap Equity",
                value: 441000,
                formatted: '4,41,000/- 3%'
            }, {
                label: "Individual Largecap Stocks",
                value: 140600,
                formatted: '1,40,600/- 1%'
            }, {
                label: "Individual Smallcap Stocks",
                value: 400000,
                formatted: '4,00,600/- 3%'
            }, {
                label: "Commodity Gold",
                value: 304000,
                formatted: '3,04,000/- 2%'
            }, {
                label: "Property",
                value: 12000000,
                formatted: '1,20,00,000/- 77%'
            }, ],
            formatter: function (x, data) { return data.formatted; },
            resize: true
        });

        Morris.Donut({
            element: 'loan-morris-donut-chart',
            data: [
              { label: "Car Loan", value: 230000, formatted: '2,30,000/- 68%' },
              { label: "Personal Loan", value: 110000, formatted: '1,10,000/- 32%' },
            ],
            formatter: function (x, data) { return data.formatted; },
            resize: true
        });

        Morris.Donut({
            element: 'wealthbymembers-morris-donut-chart',
            data: [
              { label: "Self", value: 13761600, formatted: '1,37,61,600/- 88%' },
              { label: "Spouse", value: 1234500, formatted: '12,34,500/- 8%' },
              { label: "Mother", value: 560000, formatted: '5,60,000/- 4%' },
            ],
            formatter: function (x, data) { return data.formatted; },
            resize: true
        });

        Morris.Bar({
            element: 'income-morris-bar-chart',
            data: [
              { y: 'FY2015', a: 852000, b: 0, c: 90000 },
              { y: 'FY2016', a: 972000, b: 565000, c: 100000 },
              { y: 'FY2017', a: 1190000, b: 620000, c: 120000 }
            ],
            xkey: 'y',
            ykeys: ['a', 'b', 'c'],
            labels: ['Self', 'Spouse', 'Mother'],
            stacked: true,
            resize: true
        });

        Morris.Bar({
            element: 'savings-morris-bar-chart',
            data: [
              { y: 'FY2015', a: 450000, b: 0, c: 78000 },
              { y: 'FY2016', a: 550000, b: 300000, c: 85000 },
              { y: 'FY2017', a: 500000, b: 350000, c: 100000 }
            ],
            xkey: 'y',
            ykeys: ['a', 'b', 'c'],
            labels: ['Self', 'Spouse', 'Mother'],
            stacked: true,
            resize: true
        });

        Morris.Bar({
            element: 'expenses-morris-bar-chart',
            data: [
              { y: 'FY2015', a: 396250, b: 0, c: 12000 },
              { y: 'FY2016', a: 416250, b: 259500, c: 15000 },
              { y: 'FY2017', a: 474250, b: 264500, c: 20000 }
            ],
            xkey: 'y',
            ykeys: ['a', 'b', 'c'],
            labels: ['Self', 'Spouse', 'Mother'],
            stacked: true,
            resize: true
        });

        Morris.Line({
            element: 'wealthtimeline-morris-line-chart',
            data: [{
                period: '2015',
                familywealth: 134,
                income: 9.42,
                familyinvestments: 5.28,
                adjustedExpenses: 4.08
            }, {
                period: '2016',
                familywealth: 138,
                income: 16.37,
                familyinvestments: 9.35,
                adjustedExpenses: 6.91
            }, {
                period: '2017',
                familywealth: 148,
                income: 19.3,
                familyinvestments: 9.5,
                adjustedExpenses: 9.5
            }],
            xkey: 'period',
            ykeys: ['familywealth', 'income', 'familyinvestments', 'adjustedExpenses'],
            labels: ['Total Family Wealth (L)', 'Total Family Income (L)', 'Total Family Investments (L)', 'Total Family Adjusted Expenses (L)'],
            pointSize: 2,
            hideHover: 'auto',
            smooth: true,
            //behaveLikeLine: true,
            resize: true
        });

        function getYesterdaysDate() {
            var date = new Date();
            date.setDate(date.getDate() - 1);
            return 'As of ' + date.getDate() + '/' + (date.getMonth() + 1) + '/' + date.getFullYear();
        }

        document.getElementById("yesterday1").innerHTML = getYesterdaysDate();
        document.getElementById("yesterday2").innerHTML = getYesterdaysDate();
        document.getElementById("yesterday3").innerHTML = getYesterdaysDate();
        document.getElementById("yesterday4").innerHTML = getYesterdaysDate();

    </script>

</body>

</html>
