<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org" >
<head th:include="fragments/header :: common-header" />
<body>
    <!-- googleAnalytics -->
    <script src="../static/js/googleAnalytics.js" th:src="@{/js/googleAnalytics.js}"></script>
    <!-- googleAnalytics -->
    <!-- navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-brand" href="../templates/index.html" th:href="@{/}"><strong>TWealthbook</strong> </a>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <a href="/login">Login to proceed...   </a>
        </ul>
        <div class="navbar-default sidebar" role="navigation"></div>
    </nav>
    <!-- navigation -->
    <!-- page-wrapper -->
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"> <strong>TWealthbook:</strong> Timeline of growing wealth</h1>
            </div>
        </div>
    </div>
    <!-- page-wrapper -->

</body>
</html>