<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: common-header" />
<body  ng-app="portfolioApp" ng-controller="portfolioController">
    <!-- googleAnalytics -->
    <script src="../static/js/googleAnalytics.js" th:src="@{/js/googleAnalytics.js}"></script>
    <!-- googleAnalytics -->
    <!--Angular JS-->
    <script src="../static/js/angular.min.js" th:src="@{/js/angular.min.js}"></script>
    <script src="../static/js/portfoliosController.js" th:src="@{/js/portfoliosController.js}"></script>
    <!--Angular JS-->

    <!-- wrapper -->
    <div id="wrapper">
        <!-- navigation -->
        <nav th:include="fragments/navigation :: common-navigation" />
        <!-- navigation -->
        <!-- page-wrapper -->
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header" >Portfolios</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>Portfolios</strong>
                        </div>
                        <div class="panel-body" >
                            <div class="table-responsive">
                                <table id="portolios-table" class="table" data-expand-first="true">
                                    <thead>
                                        <tr>
                                            <th>Family Member</th>
                                            <th ng-hide="true">ID</th>
                                            <th>Portfolio Description</th>
                                            <th>Start Date</th>
                                            <th ng-hide="true">End Date</th>
                                            <th ng-hide="true">Status</th>
                                            <th ng-hide="true">Strategy</th>
                                            <th ng-hide="true">Benchmark Type</th>
                                            <th>Benchmark</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="portfolio in portfolios">
                                            <td>{{portfolio.relationship}}</td>
                                            <td ng-hide="true">{{portfolio.portfolioId}}</td>
                                            <td>{{portfolio.portfolioDescription}}</td>
                                            <td>{{portfolio.portfolioStartDate}}</td>
                                            <td ng-hide="true">{{portfolio.portfolioEndDate}}</td>
                                            <td ng-hide="true">{{portfolio.portfolioActiveStatus}}</td>
                                            <td ng-hide="true">{{portfolio.portfolioCurrentStrategy}}</td>
                                            <td ng-hide="true">{{portfolio.portfolioBenchmarkType  | benchmarkType}}</td>
                                            <td>{{portfolio.portfolioBenchmark}}</td>
                                            <td><button ng-click="getPortfolioCashflow(portfolio.clientId, portfolio.portfolioId)" class="btn btn-sucess">Cashflow</button></td>
                                            <td><button ng-click="getPortfolioHoldings(portfolio.clientId, portfolio.portfolioId)" class="btn btn-sucess">Holdings</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" ng-hide="hideCashflow">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>Portfolio Cash Flow</strong>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table id="cashflow-table" class="table" data-expand-first="true">
                                    <thead>
                                        <tr>
                                            <th>Portfolio Id</th>
                                            <th>Date</th>
                                            <th>Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="portfolioCashflow in portfolioCashflows">
                                            <td>{{portfolioCashflow.portfolioCashflowKey.portfolioId}}</td>
                                            <td>{{portfolioCashflow.portfolioCashflowKey.date}}</td>
                                            <td>{{portfolioCashflow.amount | currency:"&#8377;":0}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" ng-hide="hideHoldings">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>Portfolio Holdings</strong>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table id="holdings-table" class="table" data-expand-first="true">
                                    <thead>
                                    <tr>
                                        <th>Portfolio Id</th>
                                        <th>Security</th>
                                        <th>Amount</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="portfolioHolding in portfolioHoldings">
                                        <td>{{portfolioHolding.portfolioHoldingsKey.portfolioId}}</td>
                                        <td>{{portfolioHolding.portfolioHoldingsKey.securityId}}</td>
                                        <td>{{portfolioHolding.securityMarketValue | currency:"&#8377;":0}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- page-wrapper -->
    </div>
    <!-- wrapper -->

    <!-- jQuery -->
    <script src="../static/vendor/jquery/jquery.min.js" th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="../static/vendor/bootstrap/js/bootstrap.min.js" th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
    <!-- Custom Theme JavaScript -->
    <script src="../static/vendor/sb-admin-2/js/sb-admin-2.min.js" th:src="@{/vendor/sb-admin-2/js/sb-admin-2.min.js}"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="../static/vendor/metisMenu/metisMenu.min.js" th:src="@{/vendor/metisMenu/metisMenu.min.js}"></script>
    <!-- Morris Charts JavaScript -->
    <script src="../static/vendor/raphael/raphael.min.js" th:src="@{/vendor/raphael/raphael.min.js}"></script>
    <script src="../static/vendor/morrisjs/morris.min.js" th:src="@{/vendor/morrisjs/morris.min.js}"></script>
    <!-- Add in any FooTable dependencies we may need -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
    <!-- Footable JavaScript -->
    <script src="../static/vendor/footable/js/footable.core.min.js" th:src="@{/vendor/footable/js/footable.core.min.js}" type="text/javascript"></script>

</body>
</html>