<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0" th:fragment="public-navigation" >
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><strong>TWealthbook</strong> </a>
    </div>
    <ul class="nav navbar-top-links navbar-right">
        <div sec:authorize="${#authorization.expression('isAuthenticated()')}">
            <button type="button" class="btn btn-primary" onclick="location.href='/user/dashboard'" >Dashboard</button>
            &emsp;
            <!--<a href="/userlogin">Log In</a>-->
        </div>
    </ul>
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" userId="side-menu">
                <li>
                    <a href="index.html" th:href="@{/}"> <i class="fa fa-home fa-fw"></i>Home</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-sitemap fa-fw"></i> Info <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="public/info/assetclasses.html" th:href="@{/public/info/assetclasses}">Asset Classes</a>
                        </li>
                        <li>
                            <a href="public/info/assetsubclasses.html" th:href="@{/public/info/assetsubclasses}">Asset Sub Classes</a>
                        </li>
                        <li>
                            <a href="public/info/index/indexconstituents.html" th:href="@{/public/info/index/indexconstituents}">Indices and Constituents</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
</nav>